<li class="entry py-1">
  <div class="ml-1">
    <div class="flex flex-row justify-between">
      <div class="font-bold font-sans text-sm text-blueGrey-800">
        {{ institute.position }}
      </div>
      {% if institute.begin == institute.end %}
        <div class="text-blueGrey-600 text-xs font-mono">{{ institute.begin }}</div>
      {% else %}
        <div class="text-blueGrey-600 text-xs font-mono">{{ institute.begin }}&mdash;{{ institute.end }}</div>
      {% endif %}
    </div>
    <div class="text-blueGrey-900 text-sm font-light">{{ institute.institute }}</div>
    {% if notes %}
      <div class="text-blueGrey-700 text-xs pl-5">
      <ul style="list-style-type:disc">
        {% for note in institute.notes %}
          <li>{{ note }}</li>
        {% endfor %}
      </ul>
      </div>
    {% endif %}
  </div>
</li>
