<header class="mt-2 mb-4">
  <div class="flex flex-col">
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-col">
        <div>
          <span class="text-4xl font-bold text-gray-900 tracking-tight">{{ author.data.author }}</span>
        </div>
        <div class="mt-2">
          <span class="text-lg font-medium text-gray-700">{{ author.data.title }}</span>
        </div>
      </div>
      <div class="flex flex-col items-end text-sm text-gray-700 leading-tight">
        {% for contact in contacts %}
          <div class="mb-1">
            <a {% if contact.contact %}href="{{ contact.contact }}" class="text-gray-700"{% endif %}>
              {{ contact.label }}<i class="{{ contact.icon }} text-gray-800 ml-2"></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="mt-3 text-sm text-gray-700 leading-snug">
      {{ author.templateContent }}
    </div>
  </div>
</header>
