<aside class="bg-white mt-4 mb-4">
  <div class="flex flex-wrap content-around h-full border-l-2 border-blueGrey-200">
    <div class="flex flex-col ml-2">
      <h3 class="text-lg text-cyan-900 font-light font-mono">Education</h3>
      <ul class="font-mono text-blueGrey-900 text-sm my-1">
      {% for educ in education %}
        <li class="py-1">
          <div class="font-bold font-sans text-sm text-blueGrey-800">
            {{ educ.degree }}
          </div>
          <div class="font-sans text-sm text-blueGrey-800">
            {{ educ.field }}
          </div>
          <div class="text-blueGrey-900 text-sm font-light font-sans">
            {{ educ.institute }}
          </div>
          <div class="text-blueGrey-600 text-xs font-mono">
            {{ educ.begin }}&mdash;{{ educ.end }}
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="flex flex-col ml-2">
      <h3 class="text-lg text-cyan-900 font-light font-mono">Certifications</h3>
      <ul class="font-mono text-blueGrey-900 text-xs mt-1">
      {% for cert in certifications %}
        <li class="py-1">
          <a {% if cert.link %}href="{{ cert.link }}" class="hover:underline"{% endif %}>
            <i class="{{ cert.icon }} pr-1"></i>{{ cert.label }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="flex flex-col ml-2">
      <h3 class="text-lg text-cyan-900 font-light font-mono">Technical Skills</h3>
      <ul class="font-mono text-blueGrey-900 text-sm mt-l">
      {% for tech in technologies %}
        <li class="font-bold border rounded-md border-cyan-600 inline px-1 py-1 leading-8">{{ tech.label }}</li>
      {% endfor %}
      </ul>
    </div>
    <div class="flex flex-col ml-2">
      <h3 class="text-lg text-cyan-900 font-light font-mono">Links</h3>
      <ul class="font-mono text-blueGrey-900 text-xs mt-1">
      {% for link in links %}
        <li class="py-1">
          <a href="{{ link.link }}" class="hover:underline">
            <i class="{{ link.icon }} pr-1"></i>{{ link.label }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <div class="flex flex-col ml-2">
      <h3 class="text-lg text-cyan-900 font-light font-mono">Contact</h3>
      <ul class="font-mono text-blueGrey-900 text-xs mt-1">
      {% for contact in contacts %}
        <li class="py-1">
          <a {% if contact.contact %}href="{{ contact.contact }}{% endif %}" class="hover:underline">
            <i class="{{ contact.icon }} pr-1"></i>{{ contact.label }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</aside>
